{% extends "_base.html" %}
{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Tool Index</h1>
        <div class="list-group" hx-boost="true">
            <a href="{{ url_for('employeneur_profile_form') }}" class="list-group-item list-group-item-action">Employeneur Profile Form</a>
            <a href="{{ url_for('qm_meeting_report') }}" class="list-group-item list-group-item-action">Qualifications Meeting Report</a>
        </div>
    </div>
{% endblock body %}
